[submodule "slam1/okvis"]
	path = slam1/okvis
	url = https://github.com/ILLIXR/okvis.git
[submodule "slam2/open_vins"]
	path = open_vins
	url = https://github.com/ILLIXR/open_vins.git
[submodule "hologram"]
	path = hologram
	url = https://github.com/ILLIXR/HOTlab
[submodule "audio_pipeline"]
	path = audio_pipeline
	url = https://github.com/ILLIXR/audio_pipeline.git
