/data.zip
/data*
*.exe
*.so
docs/build
site/
log/
logs/
imgui.ini
.gdb_history
output.*
metrics/
.cache
.deps
data_record/
.idea
build
deps
cmake-build*

illixr.yaml

docs/docs/getting_started.md

illixr_monado_*.csh
illixr_monado_*.sh
openxr_launch.csh
openxr_launch.sh

