##
## Configuration to `make clean` all plugins listed below
##
plugin_groups:
  - plugin_group:
    ## Runtime
    - path: runtime
    - path: common
    ## Core Plugins
    - path: timewarp_gl
    - name: audio
      path:
        git_repo: https://github.com/ILLIXR/audio_pipeline.git
        version: "3.4"
    - name: hologram
      path:
        git_repo: https://github.com/ILLIXR/HOTlab.git
        version: "3.1"
    ## Sensors
    - path: depthai
    - path: offline_imu_cam
    - path: record_imu_cam/
    - path: realsense
    - path: zed
    - path: openni
    ## Real-Time SLAM Plugins
    - name: Kimera-VIO
      path:
        git_repo: https://github.com/ILLIXR/Kimera-VIO.git
        version: "3.2"
    - name: OpenVINS
      path:
        git_repo: https://github.com/ILLIXR/open_vins.git
        version: "3.1"
    - path: gtsam_integrator
    - path: rk4_integrator
    - path: pose_prediction
    - path: pose_lookup
    ## Other Plugins
    - path: ground_truth_slam
    - path: gldemo
    - path: debugview
    ## Offloading Plugins
    - path: offload_vio/device_tx
    - path: offload_vio/device_rx
    - path: offload_vio/server_tx
    - path: offload_vio/server_rx

action:
  name: clean

## Unused definitions
profile: opt
data: data
demo_data: demo_data
enable_offload: False
enable_alignment: False
enable_verbose_errors: False
enable_pre_sleep: False
