##
## Configuration to generate the mkdocs and doxygen documentation
##
action:
  name: docs

## Unused definitions
profile: opt
data: data
demo_data: demo_data
enable_offload: False
enable_alignment: False
enable_verbose_errors: False
