$schema: http://json-schema.org/schema#
$id: http://illixr.github.io/schemas/config.json
definitions:
  app:
    oneOf:
      - type: string
      - type: object
        additionalProperties: false
        required:
          - src_path
          - bin_subpath
        properties:
          src_path:
            $ref: '#/definitions/path'
            default: {}
            description: Path to source to build
          bin_subpath:
            type: string
            default: ''
            description: Path string of compiled app binary, relative to src_path
  path:
    oneOf:
      - type: string
      - type: object
        additionalProperties: false
        required:
          - git_repo
          - version
        properties:
          git_repo:
            $ref: '#/definitions/path'
            description: Path to repo
          version:
            type: string
            description: Branch, tag, or commit hash
      - type: object
        additionalProperties: false
        required:
          - archive_path
        properties:
          archive_path:
            description: Path to archive
            $ref: '#/definitions/path'
      - type: object
        additionalProperties: false
        required:
          - download_url
        properties:
          download_url:
            type: string
            description: URL to download
      - type: object
        additionalProperties: false
        required:
          - subpath
          - relative_to
        properties:
          subpath:
            type: string
          relative_to:
            $ref: '#/definitions/path'
  plugin_group:
    oneOf:
      - type: array
        default: []
        items:
          type: object
          additionalProperties: false
          properties:
            name:
              description: An optional name for the plugin
              default: ""
              type: string
            path:
              $ref: '#/definitions/path'
              description: Path to the directory containing the SO.
            config:
              default: {}
              type: object
              additionalProperties:
                type: string
              description: Vars that get passed to the build system
          required:
            - path
  flow:
    oneOf:
      - type: array
        default: []
        items:
          type: object
          additionalProperties: false
          properties:
            plugin_group:
              $ref: '#/definitions/plugin_group'
type: object
additionalProperties: false
properties:
  flows:
    type: array
    default: []
    description: (Plugin) Flows to launch in runner (flows run independently)
    items:
      type: object
      additionalProperties: false
      properties:
        flow:
          $ref: '#/definitions/flow'
  append:
    type: object
    default: { plugin_group: [] }
    additionalProperties: false
    description: Configuration group to append to all included flows
    properties:
      plugin_group:
        $ref: '#/definitions/plugin_group'
  common:
    type: object
    default: {}
    additionalProperties: false
    properties:
      path:
        default: ./common
        $ref: '#/definitions/path'
        description: Path to https://github.com/ILLIXR/ILLIXR
  runtime:
    type: object
    default: {}
    additionalProperties: false
    properties:
      path:
        default: ./runtime
        $ref: '#/definitions/path'
        description: Path to https://github.com/ILLIXR/ILLIXR
      config:
        type: object
        default: {}
        additionalProperties:
          type: string
        description: Vars that get passed to the build system
  action:
    type: object
    default: {}
    additionalProperties: true
    required:
      - name
    properties:
      name:
        type: string
        default: native
        description: "Currently supports: 'native', 'monado', 'tests', or 'clean'"
        properties:
          path:
            $ref: '#/definitions/path'
            description: Path to action
      config:
        type: object
        default: {}
        additionalProperties:
          type: string
        description: Interpretation of these vars is action-dependent
      openxr_app:
        default: {}
        type: object
        additionalProperties: False
        properties:
          app:
            $ref: '#/definitions/app'
            default: {}
            description: The application to run with the 'monado' action
          config:
            type: object
            default: {}
            additionalProperties:
              type: string
            description: Vars that get passed to the build system
  data:
    $ref: '#/definitions/path'
    description: URL to offline IMU/cam data. Omit if not applicable.
  demo_data:
    $ref: '#/definitions/path'
    description: URL to OBJs to render in gldemo.
  enable_offload:
    type: boolean
    default: False
    description: Flag to activate data collection at runtime.
  enable_alignment:
    type: boolean
    default: False
    description: Flag to activate the ground-truth alignment.
  enable_verbose_errors:
    type: boolean
    default: False
    description: Flag to activate verbose logging in 'common/error_util.hpp'
  enable_pre_sleep:
    type: boolean
    description: Flag to activate sleeping at application start for attaching gdb. Disables 'catchsegv'.
  profile:
    type: string
    default: dbg
    description: "Currently supports 'dbg' and 'opt'"
  realsense_cam:
    default: auto
    type: string
    description: "When realsense plugin is used, this argument selects the model to use. Currently supports 'auto', 'D4XX' series that have IMU, and 'T26X'. 'auto' will select device based on supported IMU streams or T26X presence, prefering D4XX series with IMU"
