$schema: http://json-schema.org/schema#
$id: http://illixr.github.io/schemas/config.json
definitions:
  path:
    oneOf:
      - type: string
      - type: object
        additionalProperties: false
        required:
          - git_repo
          - version
        properties:
          git_repo:
            $ref: '#/definitions/path'
            description: Path to repo
          version:
            type: string
            description: Branch, tag, or commit hash
      - type: object
        additionalProperties: false
        required:
          - archive_path
        properties:
          archive_path:
            description: Path to archive
            $ref: '#/definitions/path'
      - type: object
        additionalProperties: false
        required:
          - download_url
        properties:
          download_url:
            type: string
            description: URL to download
      - type: object
        additionalProperties: false
        required:
          - subpath
          - relative_to
        properties:
          subpath:
            type: string
          relative_to:
            $ref: '#/definitions/path'
type: object
additionalProperties: false
properties:
  plugin_groups:
    type: array
    default: []
    items:
      type: object
      additionalProperties: false
      properties:
        plugin_group:
          type: array
          default: []
          items:
            type: object
            additionalProperties: false
            properties:
              name:
                description: An optional name for the plugin
                default: ""
                type: string
              path:
                $ref: '#/definitions/path'
                description: Path to the directory containing the SO.
              config:
                default: {}
                type: object
                additionalProperties:
                  type: string
                description: Vars that get passed to the build system
            required:
              - path
  common:
    default: {}
    type: object
    additionalProperties: false
    properties:
      path:
        default: ./common
        $ref: '#/definitions/path'
        description: Path to https://github.com/ILLIXR/ILLIXR
  runtime:
    default: {}
    type: object
    additionalProperties: false
    properties:
      path:
        default: ./runtime
        $ref: '#/definitions/path'
        description: Path to https://github.com/ILLIXR/ILLIXR
      config:
        default: {}
        type: object
        additionalProperties:
          type: string
        description: Vars that get passed to the build system
  action:
    type: object
    additionalProperties: true
    default: {}
    required:
      - name
    properties:
      name:
        default: native
        type: string
        description: "Currently supports: 'native', 'monado', 'tests', or 'clean'"
        properties:
          path:
            $ref: '#/definitions/path'
            description: Path to action
      config:
        default: {}
        type: object
        additionalProperties:
          type: string
        description: Interpretation of these vars is action-dependent
  data:
    $ref: '#/definitions/path'
    description: URL to offline IMU/cam data. Omit if not applicable.
  demo_data:
    $ref: '#/definitions/path'
    description: URL to OBJs to render in gldemo.
  enable_offload:
    type: boolean
    description: Flag to activate data collection at runtime.
  enable_alignment:
    type: boolean
    description: Flag to activate the ground-truth alignment.
  enable_verbose_errors:
    type: boolean
    description: Flag to activate verbose logging in 'common/error_util.hpp'
  profile:
    default: dbg
    type: string
    description: "Currently supports 'dbg' and 'opt'"
